
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400,600&display=swap');
      </style>
    
  <style>
    .gps-484614782016553868 .container{width:100%}.gps-484614782016553868 .pointer-events-none{pointer-events:none}.gps-484614782016553868 .pointer-events-auto{pointer-events:auto}.gps-484614782016553868 .absolute{position:absolute}.gps-484614782016553868 .relative{position:relative}.gps-484614782016553868 .inset-0{inset:0}.gps-484614782016553868 .mx-auto{margin-left:auto;margin-right:auto}.gps-484614782016553868 .mb-0{margin-bottom:0}.gps-484614782016553868 .inline-block{display:inline-block}.gps-484614782016553868 .flex{display:flex}.gps-484614782016553868 .grid{display:grid}.gps-484614782016553868 .w-full{width:100%}.gps-484614782016553868 .max-w-full{max-width:100%}.gps-484614782016553868 .flex-col{flex-direction:column}.gps-484614782016553868 .gap-y-0{row-gap:0}.gps-484614782016553868 .overflow-hidden{overflow:hidden}.gps-484614782016553868 .overflow-clip{overflow:clip}.gps-484614782016553868 .align-middle{vertical-align:middle}.gps-484614782016553868 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-484614782016553868 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-484614782016553868 .duration-200{transition-duration:.2s}.gps-484614782016553868 .duration-300{transition-duration:.3s}.gps-484614782016553868 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-484614782016553868 .group\/image:hover .group-hover\/image\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-484614782016553868 .group\/image:hover .group-hover\/image\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-484614782016553868 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-484614782016553868 .\[\&_p\]\:inline p{display:inline}.gps-484614782016553868 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-484614782016553868 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gevoQMfx95"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-l);--pr:15px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:var(--g-s-2xl);--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFEFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gevoQMfx95 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvRrLmIlr6 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g7YQ2hhuA6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:770px;--w-tablet:770px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7YQ2hhuA6 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goMJfk92Mp relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="gcE81_bH1Q ">
      
    <div
      parentTag="Col"
        class="gcE81_bH1Q  overflow-clip"
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:0px;--lh:130%;--size:33px;--size-tablet:33px;--size-mobile:29px;--c:#340304;word-break:break-word"
        >
        <p>Experience quality coffee at home</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="g9xqi_sqqT  overflow-clip"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word"
        >
        <p>Drinking quality coffee is a pleasure at any time of the day. Whether it’s an elegant evening or an important business meeting, Classy Plus is your ideal coffee sidekick.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gQOwocm496"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQOwocm496 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gFKfk4NFUU relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gh1H7WKZjY  overflow-clip"
        style="--ta:right;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:right;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#340304;word-break:break-word"
        >
        <p>Wide range selection</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g-Nnzt-7xL  overflow-clip"
        style="--ta:right;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:right;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word"
        >
        <p>You will be spoiled for choice: espresso, lungo, 8 oz, double shot, latte, cappuccino, and macchiato.</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gzitLEhOuj  overflow-clip"
        style="--ta:right;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:right;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#340304;word-break:break-word"
        >
        <p>Enhanced versatility</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gbMBu7WekE  overflow-clip"
        style="--ta:right;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:right;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word"
        >
        <p>Various options to enjoy your favorite blends. Do you take milk? No problem, there's Classy Plus.</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="g_p4qQXPME relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gEwUTZJq_v"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl);--ta:center"
    >
    <figure
      class="relative inline-block overflow-hidden align-middle pointer-events-none"
      style="--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;border-radius:inherit"
    >
      <div
        class="pointer-events-auto"
        
      >
        <img
    quality="70" title
    draggable="false"
    class="inline-block w-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/cccb5bca-c5b3-41c8-8398-fc08b530ccfe/-/format/auto/-/preview/3000x3000/-/quality/lighter/Featured.png" data-srcset="https://ucarecdn.com/cccb5bca-c5b3-41c8-8398-fc08b530ccfe/-/format/auto/-/preview/3000x3000/-/quality/lighter/Featured.png 768w,https://ucarecdn.com/cccb5bca-c5b3-41c8-8398-fc08b530ccfe/-/format/auto/-/preview/3000x3000/-/quality/lighter/Featured.png 1024w,https://ucarecdn.com/cccb5bca-c5b3-41c8-8398-fc08b530ccfe/-/format/auto/-/preview/3000x3000/-/quality/lighter/Featured.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1140" height="1024" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:1140/1024;--objf:cover;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);--w:100%"
  />
        <div
          class="absolute inset-0 transition-all duration-300 group-hover/image:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/image:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#242424;--op:0"
        />
      </div>
    </figure>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:2"
      class="g7L6pASYTK relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gmUl3zx-1B  overflow-clip"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#340304;word-break:break-word"
        >
        <p>Double Shot function</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gUxJ_kQETA  overflow-clip"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word"
        >
        <p>For those who need an extra push to start the day, there is the "Double Shot" espresso.</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gpw2z7VFZI  overflow-clip"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#340304;word-break:break-word"
        >
        <p>Handy and practical</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gC02MHxYpR  overflow-clip"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word"
        >
        <p>Adjustable heights to manage coffee and milk preparation and a removable used capsule container.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-484614782016553868 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=484614782016553868&template_id=484614592182355198)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
